# Thư mục static và các thư mục con
static/
static/results/
static/uploads/

# Thư mục bgbye
bgbye/

# Các file hệ thống
.DS_Store
Thumbs.db

# Môi trường Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Môi trường ảo
venv/
ENV/
env/

# IDE và trình soạn thảo
.idea/
.vscode/
*.swp
*.swo